@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
 /*header section */
  .banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 1420px;
    height: 652px;

}
  .upper{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 30px;
    align-items: center;
  }
  .upper button{
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 170px;
  }
  .pic1{
    text-align: center;
    width: auto;
    height: auto;
  }
  .pic1 img{
    margin-top: 30px;
  }
  .background-lower{
    text-align: center;
    align-items: center;
    padding: 0 100px;
  }
  .background-lower h3{
    font-size: 48px;
  }
  .background-lower p{
    font-size: 14px;
    word-wrap: break-word;
  }
  .background-lower button{
    background-color: black;
    color: white;
    height: 50px;
    width: 180px;
    border: 1px solid black;
    border-radius: 4px;
  }
  /*  why web dev part  */
  .second-banner{
    height: 1060px;
    width: 1140px;
    background-color: rgb(246, 245, 243, 40%);
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    border: 1px solid rgb(246, 245, 243, 40%);
    border-radius: 4px;
  }
  .why-web{
    text-align: center;
    margin: 80px 0 0 0;
  }
  .why-web h2{
    font-size: 32px;
  }

  .web-part-one, .web-part-three{
    display: flex;
    height: auto;
    width: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 80px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: #0D1321;
  }
  .web-part-one>div h1,p{
    padding: 0 0 0 50px;
  }
  .web-part-one button{
    margin-top: 18px;
    margin-left: 50px;
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
  }
  .why-web-part-two{
    display: flex;
    margin: 15px 135px;
    align-items: center;
  }
  
  .part-two-contents h1{
    margin: 0 0 0 50px;
  }
  .part-two-contents button{
    margin: 0 0 0 50px;
    margin-top: 5px;
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
  }
  .web-part-three>div h1,p{
    padding: 0 0 0 50px;
  }
  .web-part-three button{
    margin-top: 18px;
    margin-left: 50px;
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
  }

  /*Main parts*/
  .my-inspiration{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .my-inspiration h3{
    font-size: 32px;
  }
  .my-inspiration p{
    font-size: 16px;
  }
  .inspire-video{
    width: 1010px;
    height: 450px;
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
    padding: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.inspire-video-content iframe{
  
    width: 940px;
    height: 380px;
    border-radius: 16px;
    justify-content: center;
    
}
  /*My current target*/
  .my-current-target{
    text-align: center;
    margin-top: 130px;
  }
  .target-assets{
    margin: 100px;
    text-align: start;
    display: flex;
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    padding: 0px;
    gap: 10px;

  }
  .target{
    margin: auto;
    height: 220px;
    width:290px ;
    border: 2px solid rgb(255, 255, 255);
    padding: 30px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  }
  #first{
    background-color: #ff4b1e13;
  }
  #second{
    background-color: #004CE815;
  }
  #third{
    background-color: #FFDF0015;
  }
  .target h6{
    font-size: 16px;
    font-weight: 300;
  }
  .target a{
    color: #0D1321;
  }
   /*My next target*/
   .my-next-target{
    text-align: center;
   }
   .yet-to-learn{
    width: 750px;
    height: 270px;
    margin: 0 auto;
    display: flex;
    text-align: start;
    border: 0px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 10px;
    padding:  0 120px;
    gap: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   }
   .yet-to-learn img{
    margin: 80px 0;
   }
   .advanced-learning{
    margin: 30px 50px;
   }
   .advanced-learning h2{
    font-size: 24px;
   }
   .advanced-learning h6,a{
    font-size: 16px;
    color: #0D1321;
    font-weight: 300;
   }
   /*Reach me*/
   .support{
    margin: 50px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/handshake.jpg)  ;
    background-repeat: no-repeat;
    width: 1280px;
    height: 650px;
    color: white;
   }
   .support h1{
    margin-top: 100px;
    font-size: 50px;
    padding-top: 170px;
  }
  .pe{
    font-size: 20px;
  }
.input-type{
  border: 1px solid black;
  height: 55px;
  width: 500px;
  font-size: 18px;
  font-weight: 200;
}
.input-btn{
  border: 1px solid black;
border-radius: 8px;
height: 60px;
width: 100px;
font-size: 18px;
font-weight: 600;
}
/*footer*/
footer{
  background-color: rgba(232, 200, 164, 0.244);
  height: 70px;
}
.footer{
  display: flex;
align-items: baseline;
  margin:auto 35px;
  justify-content: space-between;
}
.facegit{
  margin: auto 0;
}