@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 652px;
}
  .upper{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 30px;
    align-items: center;
  }
  .upper button{
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
  }
  .pic1{
    text-align: center;
    width: auto;
    height: auto;
  }
  .pic1 img{
    margin-top: 30px;
  }
  .background-lower{
    text-align: center;
    align-items: center;
  }
  .background-lower h3{
    font-size: 48px;
  }
  .background-lower p{
    font-size: 14px;
    word-wrap: break-word;
  }
  .background-lower button{
    background-color: black;
    color: white;
    height: 50px;
    width: 180px;
    border: 1px solid black;
    border-radius: 4px;
  }